header{
    position: relative;
    background-image: url("images/1.jpg");
    width: 100vw;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

header::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #173753;
    opacity: 0.58;
    z-index: 1;
}

h1{
    position: absolute;
    z-index: 2;
}

#result_area{
    height: 70vh;
    width: 100vw;
}

#copyright{
    width: 100vw;
    height: 5vh;
    color: grey;
}

#search_button{
    background-color: #173753;
    border: none;
    color: white;
    border-radius: 40px;
    width: 230px;
    height: 40px;
    text-align: center;
    transition-duration: 0.4s;
}

#search_button:hover{
    background-color: #5681a6;

}

#name_box{
    background-color: white;
    width: 390px;
    height: 47px;
    padding: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border: 2px solid black;
    transition-duration: 0.4s;
}

#name_box:hover{
    background-color: #C6E7FE;
}

#name_box:hover::placeholder{
    color: transparent;
}

#name_box:focus{
    background-color: #C6E7FE;
}

#name_box:focus::placeholder{
    color: transparent;
}

img{
    width: 305px;
    height: 211px;
}